<h2 class="content-label" mat-dialog-title>{{ 'Label.ShoppingGuide' | translate}}</h2>
<mat-dialog-content class="content-dialog">
  <strong>Bước 1:</strong> Tham khảo sản phẩm cần mua hoặc liên hệ với chuyên gia để nghe tư vấn vật phẩm phù hợp với bản thân.<br /> <br />
  <strong>Bước 2:</strong>  Ấn vào vật phẩm cần mua, chọn kích cỡ và số lượng sau đó thêm vào giỏ hàng.<br /><br />
  <strong>Bước 3:</strong>  Sau khi lựa chọn đủ vật phẩm mình cần mua, ấn vào giỏ hàng nhập mã khuyến mãi(nếu có) và ấn chọn thanh toán.<br /><br />
  <strong>Bước 4:</strong>  Điền đầy đủ thông tin thanh toán, lựa chọn 2 phương thức thanh toán là:<br />
  + Thanh toán khi nhận hàng (COD)<br />
  + Chuyển khoản ngân hàng<br />
  Sau khi điền đầy đủ thông tin, khách hàng tiến hành đặt hàng. Với khách hàng có thông tin Ngày Giờ Tháng Năm sinh sẽ nhận được hậu mãi hỗ trợ vận hạn hằng năm.<br /><br />
  <strong>Bước 5:</strong>  Sau khi nhận được thông tin đặt hàng, Lâm Mộc Bảo sẽ liên lạc lại với khách hàng qua số điện thoại khách hàng cung cấp để xác thực lại đơn hàng.<br /><br />
  <strong>Bước 6:</strong>  Lâm Mộc Bảo sẽ gửi vật phẩm tận nơi đến khách hàng hoặc khách hàng sẽ đến trực tiếp cửa hàng nhận.<br />
</mat-dialog-content>
<div align="center">
  <button class="lmb-btn title close-btn" mat-dialog-close>{{ 'Label.Close' | translate}}</button>
</div>
