<div class="calendar" id="mat-datepicker-0">
  <div class="ng-star-inserted">
    <div class="calendar-header">
      <div class="calendar-controls">
        <div class="calendar-navigations m-auto">
          <button type="button" (click)="prevMonth()" class="calendar-previous-button btn btn-xs btn-outline-dark mr-1"
                  aria-label="Previous month">
            <i class="fa-solid fa-less-than"></i>
          </button>
          <div class="calendar-spacer d-inline-block mr-1">
            <input type="number" class="form-control d-inline-block mr-1" (change)="changeDirectFromInput()" style="width:45px;" [(ngModel)]="month" min="0" max="12" />
            <input type="number" class="form-control d-inline-block" (change)="changeDirectFromInput()" style="width:60px" [(ngModel)]="year" />
          </div>
          <button type="button" (click)="nextMonth()"
                  class="calendar-next-button btn btn-xs btn-outline-dark"
                  aria-label="Next month">
            <i class="fa-solid fa-greater-than"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div cdkmonitorsubtreefocus="" tabindex="-1" class="calendar-content">
    <div class="ng-star-inserted">
      <table role="grid" class="calendar-table">
        <thead class="calendar-table-header">
          <tr>
            <th scope="col" class="ng-star-inserted">
              <span class="cdk-visually-hidden">{{ 'Calendar.Sunday' | translate }}</span>
              <span aria-hidden="true">{{ 'Calendar.Sunday_Lite' | translate }}</span>
            </th>
            <th scope="col" class="ng-star-inserted">
              <span class="cdk-visually-hidden">{{ 'Calendar.Monday' | translate }}</span>
              <span aria-hidden="true">{{ 'Calendar.Monday_Lite' | translate }}</span>
            </th>
            <th scope="col" class="ng-star-inserted">
              <span class="cdk-visually-hidden">{{ 'Calendar.Tuesday' | translate }}</span>
              <span aria-hidden="true">{{ 'Calendar.Tuesday_Lite' | translate }}</span>
            </th>
            <th scope="col" class="ng-star-inserted">
              <span class="cdk-visually-hidden">{{ 'Calendar.Wednesday' | translate }}</span>
              <span aria-hidden="true">{{ 'Calendar.Wednesday_Lite' | translate }}</span>
            </th>
            <th scope="col" class="ng-star-inserted">
              <span class="cdk-visually-hidden">{{ 'Calendar.Thursday' | translate }}</span>
              <span aria-hidden="true">{{ 'Calendar.Thursday_Lite' | translate }}</span>
            </th>
            <th scope="col" class="ng-star-inserted">
              <span class="cdk-visually-hidden">{{ 'Calendar.Friday' | translate }}</span>
              <span aria-hidden="true">{{ 'Calendar.Friday_Lite' | translate }}</span>
            </th>
            <th scope="col" class="ng-star-inserted">
              <span class="cdk-visually-hidden">{{ 'Calendar.Saturday' | translate }}</span>
              <span aria-hidden="true">{{ 'Calendar.Saturday_Lite' | translate }}</span>
            </th>
          </tr>
          <tr>
            <th aria-hidden="true" colspan="7" class="calendar-table-header-divider"></th>
          </tr>
        </thead>
        <tbody class="calendar-body">
          <tr role="row" class="ng-star-inserted" *ngFor="let row of dateMarkersRows">
            <td *ngFor="let item of row; let i = index" role="gridcell" class="calendar-body-cell-container ng-star-inserted">
              <span *ngIf="item.isEmpty">
              </span>
              <button *ngIf="!item.isEmpty" type="button" class="btn calendar-body-cell"
                      [ngClass]="{ 'weekend': i == 0 || i == 6, 'selected': isSame(item, selectedDate), 'today': isSame(item, todayMarker) }"
                      (click)="selectDate(item)">
                <span class="calendar-body-cell-content solar-date">
                  {{ item.solarDate | date: 'd' }}
                </span>

                <span class="calendar-body-cell-content lunar-date">
                  {{ getDisplayLunarDay(item) }}
                </span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>  
</div>
