<div class="mt-2 p-0" *ngIf="mode == showMode.Create">
  <promotion-edit-admin (onClose)="mode = showMode.ShowGrid"></promotion-edit-admin>
</div>
<div *ngIf="mode == showMode.ShowGrid">
  <div class="row col-md-12 d-inline-block">
    <div class="col-md-8 d-inline-block">
      <div class="input-group">
        <input type="text" aria-label="Input group example"
               id="searchPromotion" class="form-control form-control-sm"
               placeholder="{{ 'Promotion.Search_Placeholder' | translate }}"
               name="Search" [(ngModel)]="payload.Search"
               aria-describedby="btnSearchBtn"
               (keydown.enter)="loadData()">
        <button class="search-button btn btn-sm btn-light d-block input-group-text" id="btnSearchBtn" (click)="loadData()">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
    <div class="col-md-4 d-inline-block">
      <button class="btn btn-success float-end" (click)="create()">
        {{ 'Common.Create' | translate}}
      </button>
    </div>
  </div>
  <div class="row mt-2 p-0">
    <div class="col-md-12 p-0">
      <div class="table-wrap table-responsive-lg">
        <ngx-datatable class="material colored-header md table table-striped table-hover"
                       style="height: calc(100vh - 200px)"
                       [loadingIndicator]="loadingIndicator"
                       [rows]="rows"
                       [rowHeight]="70"
                       [headerHeight]="35"
                       [footerHeight]="35"
                       [scrollbarH]="true"
                       [scrollbarV]="true"
                       [virtualization]="false"
                       [columns]="columns"
                       [columnMode]="'force'"
                       [displayCheck]="displayCheck"
                       [externalPaging]="true"
                       [externalSorting]="true"
                       [count]="total"
                       [offset]="payload.PageSize"
                       [sorts]="[{dir: 'Name', prop: 'asc'}]">
        </ngx-datatable>
      </div>
    </div>
    <pagination [total]="totalRows" [pageSize]="payload.PageSize" [selectedPage]="payload.Page" (onPageChange)="pageChange($event)"></pagination>
  </div>

  <ng-template #modeTemplate let-rowIndex="rowIndex" let-row="row" let-value="value">
    <span *ngIf="row.PromotionMode == promotionMode.Manual">{{ 'Promotion.Manual' | translate }}</span>
    <span *ngIf="row.PromotionMode == promotionMode.Period">
      <p>{{ 'Promotion.Period' | translate }}</p>
      <p>{{row.From | date:'dd-MM-yyyy HH:mm'}} - {{ row.To | date:'dd-MM-yyyy HH:mm' }}</p>
    </span>
  </ng-template>

  <ng-template #discountPercentTemplate let-rowIndex="rowIndex" let-row="row" let-value="value">
    <span>{{ row.DiscountPercent }}%</span>
  </ng-template>
  <ng-template #isActiveTemplate let-rowIndex="rowIndex" let-row="row" let-value="value">
    <div class="form-check form-switch">
      <input type="checkbox" class="form-check-input m-auto" [value]="row.IsActive" [(ngModel)]="row.IsActive" disabled  />
    </div>
  </ng-template>

  <ng-template #actionTemplate let-rowIndex="rowIndex" let-row="row" let-value="value">
    <div class="group-btn-actions">
      <a routerLink="/admin/khuyen-mai/{{row.Id}}" class="btn btn-sm btn-outline-dark">
        <i class="fas fa-edit"></i>
      </a>
      <a (click)="onDelete(row)" class="btn btn-sm btn-outline-danger">
        <i class="fas fa-trash"></i>
      </a>
    </div>
  </ng-template>
</div>
