
.custom-hot-product {
  margin-top: 10px;
}

  .custom-hot-product a {
    text-decoration: none;
    color: white;
    display: flex;
  }

  .custom-hot-product img {
    height: 80px;
    width: 80px;
  }

.custom-hot-product-information {
  margin-left: 5px;
  display: grid;
  align-content: center;
}

  .custom-hot-product-information p {
    /*    margin: 0;
    height: 4.5rem;*/
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

.form-control-feedback-knowledge {
  position: absolute;
  z-index: 2;
  display: block;
  width: 3rem;
  height: 2.375rem;
  line-height: 4.0rem;
  text-align: center;
  cursor: pointer;
  color: #ebb752;
}
