<h2 class="content-label" mat-dialog-title>{{ 'Label.Warranty_And_Returns' | translate}}</h2>
<mat-dialog-content class="content-dialog">
  Chúng tôi cam kết chất lượng về sản phẩm, nguồn gốc hoàn toàn tự nhiên. Tại bất cứ thời điểm nào bạn có thông tin về sản phẩm không đúng như chúng tôi đã cam kết, chúng tôi sẽ nhận lại hàng và hoàn tiền 100%.<br /> <br />
  Hỗ trợ đổi trả trong 15 ngày đầu sử dụng.<br /><br />
  Trong các trường hợp không may chuỗi bị va đập mạnh gây nứt vỡ, đụng nước/xà phòng nhiều dẫn đến bào mòn lớp bảo vệ bên ngoài hạt (san hô),… Tuỳ vào tình trạng chuỗi, Lâm Mộc Bảo sẽ có phương án hỗ trợ bạn trong việc thay hạt hoặc sửa/nâng cấp chuỗi.<br /><br />
  Về dây vòng chúng tôi bảo hành trọn đời, nên bất cứ lúc nào bạn cần hỗ trợ về thay dây bạn có thể liên lạc trực tiếp với Lâm Mộc Bảo qua fanpage hoặc hotline(zalo):  0898 6666 71 – 088 66666 71.
</mat-dialog-content>
<div align="center">
  <button class="lmb-btn title close-btn" mat-dialog-close>{{ 'Label.Close' | translate}}</button>
</div>
