.time-selector-bound {
    background-color: white;
}
  .time-selector-bound input {
    border: 1px solid #d4821e;

  }
  .time-selector-bound input:first-child{
      margin-right: 5px;
  }

    .time-selector-bound input:nth-child(2) {
      margin-left: 5px;
    }

.fit-content .form-control:focus {
  color: black !important
}
