<form class="custom-background-form white" #f="ngForm" novalidate (submit)="onSubmit()">
  <div *ngIf="newsPaperPost" class="main-dialog" id="main-modal" role="dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ (isNew ? 'Common.Save': 'Common.Update' ) | translate }}</h5>
        <div class="button-group pull-right">
          <button type="submit" class="btn btn-sm btn-primary m-2">{{ ( isNew ? 'Common.Save': 'Common.Update') | translate }}</button>
          <button type="button" class="btn btn-sm btn-danger" (click)="backToGrid()">{{ 'Common.Back' | translate }}</button>
        </div>
      </div>
      <div class="main-content">
        <div class="form-content">
          <div class="row col-md-12">
            <div class="form-group">
              <label>{{ 'NewsPaper.Hint' | translate }}</label>
              <input type="text" class="form-control" name="Hint" placeholder="{{ 'NewsPaper.Hint' | translate }}" [(ngModel)]="newsPaperPost.Hint" required title="{{ 'NewsPaper.ErrorMessage' | translate }}" />
            </div>
          </div>
          <div class="row col-md-12">
            <div class="form-group">
              <label>{{ 'NewsPaper.Link' | translate }}</label>
              <input type="text" class="form-control" name="Link" placeholder="{{ 'NewsPaper.Link' | translate }}" [(ngModel)]="newsPaperPost.Link" required title="{{ 'NewsPaper.ErrorMessage' | translate }}" />
            </div>
          </div>
          <div class="form-group d-block upload-image mt-3">
            <div class="col-md-12">
              <label>{{ 'NewsPaper.UploadedImage' | translate }}</label>
              <upload-image [entityId]="newsPaperPost.Id" [files]="images" [allowMultiple]="false" (onUploaded)="onUploaded($event)" (onRemove)="onRemove($event)"></upload-image>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
