<form class="custom-background-form white" #f="ngForm" novalidate>
  <div *ngIf="appointment" class="main-dialog" id="main-modal" role="dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'Appointment.View' | translate }}</h5>
        <div class="button-group pull-right">
          <button type="button" class="btn btn-sm btn-danger" (click)="backToGrid()">{{ 'Common.Back' | translate }}</button>
        </div>
      </div>
      <div class="main-content">
        <div class="main-content">
          <div class="row col-md-12">
            <div class="col-md-12">
              <div class="form-group">
                <div class="form-group border rounded">
                  <div class="form-group m-2">
                    <label>{{ 'Appointment.Service' | translate}}</label>
                    <label class="form-control f-content"> {{ getDisplayService() }}</label>
                  </div>
                  <div class="form-group m-2">
                    <label>{{ 'Appointment.Customer_FullName' | translate}}</label>
                    <label class="form-control f-content"> {{ appointment.FullName }}</label>
                  </div>
                  <div class="form-group m-2">
                    <label>{{ 'Appointment.Customer_Birthday' | translate}}</label>
                    <label class="form-control f-content">
                      {{  getDisplayBirday() }}
                      <span class="badge bg-secondary large-badge">{{ getDisplayBirthDay() | translate }}</span>
                    </label>
                  </div>
                  <div class="form-group m-2">
                    <label>{{ 'Appointment.Customer_PhoneNumber' | translate}}</label>
                    <label class="form-control f-content">
                      <a id="phone-number" href="tel:+{{ appointment.PhoneNumber}}" class="phone-number">{{ appointment.PhoneNumber }} </a>
                    </label>
                  </div>
                  <div class="form-group m-2">
                    <label>{{ 'Appointment.Address' | translate}}</label>
                    <div class="form-control f-content">
                      <label class="f-content">  {{ getDisplayAddress() }}</label>
                    </div>
                  </div>
                  <div class="form-group m-2">
                    <label>{{ 'Appointment.Customer_Email' | translate}}</label>
                    <label class="form-control f-content">
                      <a id="email" href="mailto:+{{ appointment.Email }}" class="email-address">{{ appointment.Email }}</a>
                    </label>
                  </div>
                  <div class="form-group m-2">
                    <label>{{ 'Appointment.Appointment_Note_1' | translate}}</label>
                    <label class="form-control f-content">
                      <span>{{ appointment.Note }}</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
