<h2 class="content-label" mat-dialog-title>{{ 'Label.Shipping_Policy' | translate}}</h2>
<mat-dialog-content class="content-dialog">
  Lâm Mộc Bảo giao hàng đến tất cả các tỉnh thành trên toàn quốc. Tất cả vật phẩm được vận chuyển đến nơi khách hàng sẽ được đóng gói cẩn thận, đúng quy cách bao gồm các chứng từ liên quan như: Card visit, hộp đựng sản phẩm, sản phẩm đi kèm, thư cảm ơn và hướng dẫn sử dụng, mã nhận sổ cải vận online.<br /><br />
  Miễn phí giao hàng cho đơn hàng từ 400 000VNĐ.<br /><br />
  Khách hàng được kiểm tra trước khi nhận hàng.<br /><br />
  <strong>Khách hàng tại thành phố Hà Nội:</strong><br />
  Giao hàng ngay trong 24h đối với khách hàng ở nội thành Hà Nội.<br /><br />
  <strong>Khách hàng tại các tỉnh thành khác:</strong><br />
  Lâm Mộc Bảo sẽ giao hàng qua Giao Hàng Tiết Kiệm / Viettelpost.<br /><br />
  Thời gian giao hàng: Từ 2 – 5 ngày tùy vào địa chỉ nhận hàng.<br /><br />
  Với khách hàng có yêu cầu giao hàng đặc biệt có thể thêm thông tin ở phần ghi chú để được hỗ trợ.
</mat-dialog-content>
<div align="center">
  <button class="lmb-btn title close-btn" mat-dialog-close>{{ 'Label.Close' | translate}}</button>
</div>
