<div class="mt-2 p-0" *ngIf="mode == showMode.Create">
  <product-admin-edit-admin (onClose)="mode = showMode.ShowGrid"></product-admin-edit-admin>
</div>
<div *ngIf="mode == showMode.ShowGrid">
  <div class="row col-md-12 d-inline-block">
    <div class="col-md-8 d-inline-block">
      <div class="input-group">
        <input type="text" aria-label="Input group example"
               id="searchProduct" class="form-control form-control-sm"
               placeholder="{{ 'Product.Search_Placeholder' | translate }}"
               name="Search" [(ngModel)]="payload.Search"
               aria-describedby="btnSearchBtn"
               (keydown.enter)="loadData()">
        <button class="search-button btn btn-sm btn-light d-block input-group-text" id="btnSearchBtn" (click)="loadData()">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
    <div class="col-md-4 d-inline-block">
      <button class="btn btn-success float-end" (click)="create()">
        {{ 'Common.Create' | translate}}
      </button>
    </div>
  </div>
  <div class="row mt-2 p-0">
    <div class="col-md-12 p-0">
      <div class="table-wrap table-responsive-lg">
        <ngx-datatable class="material colored-header md table table-striped table-hover"
                       style="height: calc(100vh - 200px)"
                       [loadingIndicator]="loadingIndicator"
                       [rows]="rows"
                       [rowHeight]="100"
                       [headerHeight]="35"
                       [footerHeight]="35"
                       [scrollbarH]="true"
                       [scrollbarV]="true"
                       [virtualization]="false"
                       [columns]="columns"
                       [columnMode]="'force'"
                       [displayCheck]="displayCheck"
                       [externalPaging]="true"
                       [externalSorting]="true"
                       [messages]="gridMessage"
                       [count]="total"
                       [offset]="payload.PageSize"
                       [sorts]="[{dir: 'Name', prop: 'asc'}]">
        </ngx-datatable>
      </div>
    </div>
    <pagination [total]="totalRows" [pageSize]="payload.PageSize" [selectedPage]="payload.Page" (onPageChange)="pageChange($event)"></pagination>
  </div>

  <ng-template #imagesTemplate let-rowIndex="rowIndex" let-row="row" let-value="value">
    <div class="d-inline-block image-preview" >
      <span *ngFor="let item of row.Images; let i = index">
        <img *ngIf="i < 3" [ngSrc]="item.Url" height="70" width="70" />
      </span>
    </div>
  </ng-template>
  <ng-template #priceTemplate let-rowIndex="rowIndex" let-row="row" let-value="value">
    <span> {{ value | lmbcurrency}}</span>
  </ng-template>

  <ng-template #actionTemplate let-rowIndex="rowIndex" let-row="row" let-value="value">
    <div class="group-btn-actions">
      <a (click)="highlightItem(row)" class="btn btn-sm btn-outline-dark">
        <i [hidden]="!highlightEntityIds[row.Id]" class="fas fa-star"></i>
        <i [hidden]="highlightEntityIds[row.Id]" class="fa-regular fa-star"></i>
      </a>
      <a routerLink="/admin/san-pham/{{row.Id}}" class="btn btn-sm btn-outline-dark">
        <i class="fas fa-edit"></i>
      </a>
      <a (click)="onDelete(row)" class="btn btn-sm btn-outline-danger">
        <i class="fas fa-trash"></i>
      </a>
    </div>
  </ng-template>
</div>
