<h2 class="content-label" mat-dialog-title>{{ 'Label.Payment_Policy' | translate}}</h2>
<mat-dialog-content class="content-dialog">
  Lâm Mộc Bảo thực hiện việc thanh toán theo nhiều hình thức như trả trực tiếp bằng tiền mặt, quẹt thẻ ( trực tiếp tại cửa hàng ) hoặc chuyển khoản.<br /><br />
  <strong>Đối với khách hàng thanh toán bằng tiền mặt:</strong><br /><br />
  Phương thức thanh toán bằng tiền mặt áp dụng khi khách hàng đến mua trực tiếp tại cửa hàng hoặc khi giao hàng và thu tiền (COD).<br /><br />
  <strong>Đối với khách hàng thanh toán chuyển khoản:</strong><br /><br />
  Phương thức thanh toán chuyển khoản khi khách hàng mua hàng ở xa cửa hàng hoặc khách hàng có nhu cầu thanh toán qua phương thức này.<br /><br />
  <strong>Đối với khách hàng thanh toán qua thẻ hoặc trả góp qua thẻ tín dụng:</strong><br /><br />
  Khách hàng có thể thanh toán qua thẻ ngân hàng hoặc trả góp qua thẻ tín dụng trực tiếp tại cửa hàng của Lâm Mộc Bảo.
</mat-dialog-content>
<div align="center">
  <button class="lmb-btn title close-btn" mat-dialog-close>{{ 'Label.Close' | translate}}</button>
</div>
