
.custom-filter-knowledge-group {
  height: fit-content;
  padding: 10px;
  margin: 0 0 2em;
  background-color: #25292c8a;
  border-radius: 5px
}

  .custom-filter-knowledge-group h4 {
    text-align: center;
  }


.custom-filter-knowledge-content {
  color: white;
  max-height: 6rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-filter-knowledge-img img {
  height: 100%;
  width: 100%;
}

.custom-filter-knowledge-date {
  display: none;
}


.custom-knowledge-href-group {
  display: inline-grid
}

.custom-filter-knowledge-content {
  max-height: 18rem;
}

.custom-filter-knowledge-date {
  display: block;
  color: #ebb752;
  padding: 8px;
  width: fit-content;
  background-color: #41210a;
  border-radius: 5px;
  margin: 0 -16px;
}

.custom-filter-knowledge-group {
  height: fit-content;
  padding: 10px;
  margin: 0 0 2em 0;
  background-color: #25292c8a;
  border-radius: 5px
}

.custom-filter-knowledge-img img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.custom-filter-knowledge-content {
  color: white;
  max-height: 10.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}

.custom-knowledge-href-group {
  line-height: 3rem;
  text-decoration: none;
  color: white;
}

  .custom-knowledge-href-group a {
    text-decoration: none;
    color: white;
  }

    .custom-knowledge-href-group a:hover {
      color: #ebb752;
    }

.step-title > h2 {
  margin: auto;
  font-weight: bold;
  font-size: 19px;
  color: #e5b351 !important;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
}
