.upper-text {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}
.order-form {
  border: 1px solid #1d1f21 !important;
}
.custom-order-to-support-text {
  color: #ebb752;
  font-size: 14px
}
.custom-background-form .form-control:focus {
  background-color: unset !important;
}
.order-btn {
  background-color: #e5b351;
  padding: 8px;
  color: #000;
  font-weight: 700;
}

::ng-deep popover-container.calendar-bound,
::ng-deep popover-container.calbottomar-bound,
::ng-deep popover-container.caltopar-bound {
  width: 415px;
  min-width: 415px;
}

::ng-deep popover-container.calendar-bound {
  transform: none !important;
  width: 415px;
  min-width: 415px;
  border: none;
  position: absolute;
  left: 30px !important;
  bottom: 45px !important;
  top: unset !important
}

::ng-deep popover-container.calendar-hour-bound {
  transform: none !important;
  border: none;
  position: absolute;
  left: 340px !important;
  bottom: 322px !important;
  top: unset !important;
}

.custom-background-form ::ng-deep lunar-calendar .form-control:focus,
.custom-background-form ::ng-deep time-selecotor .form-control:focus {
  background-color: transparent !important;
  color: #d4821e !important;
}

.calendar-icon,
.time-selector-icon {
  left: -40px !important;
  position: relative;
  border: transparent;
  top: -2px;
  color: #d4821e !important;
}

.birth-day-type-options > div,
.birthday-selector > * {
  display: inline;
}

.step-title, .title {
  background-color: #41210a;
  color: #e5b351
}
#ship-to-another-address-panel .address,
#ship-to-another-address-panel .address .col-md-12 .col-md-6 {
  padding-right: 0;
}

@media only screen and (max-width: 992px) {
  ::ng-deep popover-container.calendar-hour-bound {
    transform: none !important;
    border: none;
    position: absolute;
    left: 30px !important;
    top: unset !important;
    bottom: unset !important;
  }

  .time-selector-icon {
    top: 10px;
  }

  .input-hour {
    margin-top: 10px;
  }
}


@media only screen and (max-width: 768px) {
  ::ng-deep popover-container.calendar-bound,
  ::ng-deep popover-container.calbottomar-bound,
  ::ng-deep popover-container.caltopar-bound {
    transform: none !important;
    width: 365px;
    min-width: 365px;
    border: none;
    position: absolute;
    left: 1px !important;
    bottom: 202px !important;
    top: unset !important;
  }

  .time-selector-icon {
    top: 10px;
  }

  .input-hour {
    margin-top: 10px;
  }
}

.background-unset {
    background: unset !important
}
